<!DOCTYPE html>
<html ng-app="IOT">
  <head>
    <meta charset="utf-8">
    <title>Internet of Things!</title>

<!-- Stylesheets -->
<link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
<link rel="stylesheet" href="assets/sheetrock.css"></link>
<!-- Scripts -->
<script type="text/javascript" src="vendors/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="scripts/clientApp.js"></script>
<!-- <script type="text/javascript" src="scripts/test.js"></script> -->
<script src="/socket.io/socket.io.js"></script>

  </head>


  <body ng-controller="secondController">
    <div class="container">
      <div class="row">
        <div class=".col-xs-12">

    <h1>Hello!</h1> <br>

      <h3>Click below on what you'd<br>
       like to see.<h3>


    {{variable}}
<br><br>

<br>
<button class="btn btn-primary" ng-click="photos()" style="width:400px;height:100px;font-size:50px;">Photos</button><br><br><br>
<button class="btn btn-primary" ng-click="weather()" style="width:400px;height:100px;font-size:50px;">Weather</button><br><br><br>
<button class="btn btn-primary" ng-click="calendar()" style="width:400px;height:100px;font-size:50px;">Calendar</button><br><br><br>
<br><br>

    <!-- <textarea style='width: 100%; height: 30px' ng-model='variable'></textarea><br> -->
      <!-- <script>
        var socket = io();
        var IOT = angular.module('IOT', []);

        IOT.controller('baseController', ['$scope', '$http', function($scope, $http){
          $scope.variable = [];



          $scope.clickMe = function(){
            var tweet = {user: "Lukas", text: "Blue Banana"};
            $scope.variable= [];
            socket.emit("tweet", tweet);
          }

          socket.on("tweet", function(tweet){
            $scope.variable= [];
            $scope.variable.push(tweet.text);
            console.log("from server - tweet from", tweet.user);
            console.log("contents", tweet.text);

            if ($scope.variable == "Blue Banana") {
              $scope.hash = "malamute";
            } else if ($scope.variable == "Red Banana") {
              $scope.hash = "parrot";
            } else {
              $scope.hash = "";
            }
            $scope.$apply();
          })

        }]);
      </script> -->

    </div>
  </div>
</div>
  </body>
</html>
