<!DOCTYPE html>
<html ng-app="IOT">
  <head>
    <meta charset="utf-8">
    <title>Internet of Things!</title>

<!-- Stylesheets -->
<link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
<link rel="stylesheet" href="assets/sheetrock.css"></link>

<!-- Scripts -->
<script type="text/javascript" src="vendors/angular.min.js"></script>
<!-- <script type="text/javascript" src="scripts/clientApp.js"></script> -->
<script src="/socket.io/socket.io.js"></script>

  </head>

  <body ng-controller="baseController">

    <h1>Hello!</h1>

    This represents the mobile page<br>
    {{variable}}
<br><br>

<br><br>
<button ng-click="clickMe()">Click me</button>
<br><br>
    <img src="images/{{hash}}.jpg" width="500px" alt="image"></img>


    <!-- <textarea style='width: 100%; height: 30px' ng-model='variable'></textarea><br> -->


      <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io();
        var IOT = angular.module('IOT', []);

        IOT.controller('baseController', ['$scope', '$http', function($scope, $http){
          $scope.variable = [];



          $scope.clickMe = function(){
            var tweet = {user: "Lukas", text: "Blue Banana"};
            $scope.variable= [];
            socket.emit("tweet", tweet);
          }

          socket.on("tweet", function(tweet){
            $scope.variable= [];
            $scope.variable.push(tweet.text);
            console.log("from server - tweet from", tweet.user);
            console.log("contents", tweet.text);

            if ($scope.variable == "Blue Banana") {
              $scope.hash = "malamute";
            } else if ($scope.variable == "Red Banana") {
              $scope.hash = "parrot";
            } else {
              $scope.hash = "";
            }


            $scope.$apply();
          })









        }]);


      </script>
  </body>
</html>
