h1 {
  color: white;
  font-size:70px;
}

h3 {
  font-size: 30px;
}

.slideshowContainer {
  width:75%;
  margin:0 10% 0 10%;
  /*image-orientation: from-image;*/
}


body {
  color:white;
  background-color:black

}
